/* CSS index.html */

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

div.outerbox {
  max-width: 600px;
  max-height: 640px;
  margin: auto;
  border: 1px solid #0000;
  background-color: lightsteelblue;
  border-radius: 30px;
  padding: 36px 83px 62px 83px;
  margin: 40px auto;
}

h1.createacc {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 16px;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}

label {
  font-size: 24px;
}

input {
  display: block;
}

input[type="text"],
input[type="email"] {
  width: 430px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid white;
  margin: 10px 0 5px 0;
  padding-left: 10px;
  font-size: medium;
}

div.singlerow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  /* border: 1px solid black; */
  width: 430px;
}

input[type="password"] {
  display: inline;
  width: 210px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid white;
  margin: 10px 0;
  padding-left: 10px;
  font-size: medium;
}

input::placeholder {
  /* text-align: center; */
  opacity: 0.5;
}

input[type="submit"] {
  width: 180px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid rgb(255, 253, 253);
  margin: 30px auto 13px auto;
  background-color: rgb(89, 191, 255);
  color: white;
  cursor: pointer;
  font-size: large;
}

input[type="submit"]:hover {
  background-color: rgba(89, 191, 255, 0.5);
}

.already {
  text-align: center;
  color: black;
  opacity: 0.5;
}

.already {
  text-decoration: none;
  font-size: small;
}

.already:hover {
  opacity: 1;
}

a:visited {
  color: black;
}

/* css homepage html */
* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

.h-homepage {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: wheat;
  border-bottom: 20px;
}

.userhp {
  text-decoration: none;
  color: black;
}

.main-hp {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.kategori {
  padding: 15px;
}
.kategori h4 {
  margin-bottom: 10px;
}
.makanan {
  /* background-color: cadetblue; */
  margin-bottom: 20px;
  cursor: pointer;
}
.lvl {
  width: 240px;
  height: 205px;
  background-color: #f5e6e6;
  text-align: center;
  line-height: 200px;
  margin-right: 20px;
}

.suku {
  border-radius: 8px;
  cursor: pointer;
}

.lvl1s {
  width: 240px;
  height: 205px;
  background-color: #f5e6e6;
  text-align: center;
  line-height: 200px;
}

.lvlm,
.lvls {
  display: flex;
  justify-content: space-between;
}

.leaderboard {
  width: 430px;
  height: 510px;
  text-align: center;
  background-color: darkgreen;
  padding: 30px;
  border-radius: 10px;
}

.rank {
  margin: 15px 0;
}

.rank ol {
  background-color: darkgrey;
}

footer {
  padding: 10px;
}

/* CSS scorepage html */
.schead {
  padding: 20px 30px;
  display: flex;
  justify-content: end;
}
.schead a {
  text-decoration: none;
  color: chartreuse;
}
.schead p {
  margin: 20px 35px;
  color: rgb(122, 9, 9);
}

.scmain {
  margin: 10px 0;
  text-align: center;
}

.fstitle {
  background-color: rgb(196, 196, 196);
  border: 1px solid white;
  height: 110px;
  width: 475px;
  margin: 10px auto;
  border-radius: 20px;
}

.fstitle p {
  font-size: 48px;
  margin-top: 25px;
}

.tscore {
  font-size: 120px;
}

.reportq {
  margin: 10px auto;
  display: flex;
  width: 475px;
  justify-content: space-around;
}

.reportq .true {
  color: rgba(9, 120, 20, 1);
}

.reportq .false {
  color: rgba(197, 20, 20, 1);
}

.buttonfs {
  margin: 20px auto;
  display: flex;
  width: 475px;
  justify-content: space-around;
  padding: 10px;
}

.buttonfs a {
  text-decoration: none;
  color: black;
}

.buttonfs div {
  background-color: rgb(196, 196, 196);
  width: 140px;
  height: 55px;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
}

.feedback {
  font-size: 24px;
  margin: 20px auto;
  color: black;
}

.feedback p {
  opacity: 0.5;
}
.feedback p:hover {
  opacity: 1;
}

.fslead {
  margin: 25px auto;
}

.fslead .title {
  width: 370px;
  height: 57px;
  background-color: rgb(196, 196, 196);
  margin: auto;
  font-size: 36px;
  line-height: 55px;
  border-radius: 10px;
}

.fslead .rank {
  margin: 20px auto;
}
.fslead .rank p {
  margin: 10px auto;
}

.fslead .view {
  color: black;
  opacity: 0.5;
}
.fslead .view:hover {
  opacity: 1;
}
